/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import "tailwindcss";
@font-face {
  font-family: "Libertinus Sans";
  src: url("/src/assets/fonts/LibertinusSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Libertinus Sans";
  src: url("/src/assets/fonts/LibertinusSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Libertinus Sans";
  src: url("/src/assets/fonts/LibertinusSans-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
@theme {
  --font-libert: "Libertinus Sans", sans-serif;
  --color-ptlpink: #FFB3E3;
}
/* LAYERS */
@layer base {
  body {
    @apply bg-[url(/images/header-bg.jpg)] bg-center bg-no-repeat bg-cover bg-fixed font-libert min-w-[360px];
  }
}

@layer components {
  /* ABOUT ME */
  .about-parag {
    @apply text-pink-200 text-justify indent-7;
  }
  /* HEADER */
  .main-header {
    @apply bg-[url(/images/header-bg.jpg)] pt-3 px-2;
  }
  .main-header nav ul li {
    @apply flex flex-1 pb-3 pt-1 justify-center items-center transition duration-500 ease-in-out active:border-b-indigo-900/75;
  }
  .main-header nav ul li img {
    @apply w-4 h-4;
  }
  /* FOOTER */
  .main-footer {
    @apply px-20 py-5 bg-[url(/images/header-bg.jpg)] bg-no-repeat text-ptlpink text-center text-[15px];
  }
}
